.sub{
    line-height: 33px;
    margin: 30px 0;
}

.sub>span::before{
    content: "";
    width: 17px;
    border: 1px solid #0054E8;
    display: block;
    position: relative;
    left: -32px;
    top: 17px;
}

@media screen and (min-width: 768px){
    .sub{
        font-size: 36px;
    }
    .sub>span::before{
        width: 100px;
        left: calc(50% - 50vw);
    }
}