.sub{
    line-height: 33px;
    margin: 30px 0;
    display: inline-block;
}

.sub::before{
    content: "";
    width: 17px;
    border: 1px solid #0054E8;
    display: block;
    position: relative;
    left: calc(50% - 50vw);
    top: 17px;
}

.col2>.col>.sub{
    display: block;
}

@media screen and (min-width: 1024px){
    .sub{
        font-size: 36px;
    }
    .sub::before{
        width: 100px;
    }

    .col2>.col:first-child>.sub::before{
        left: -130px;
    }
}