.sub{
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 20px;
}

.sub::before{
    content: "";
    width: 17px;
    border: 1px solid #0054E8;
    display: block;
    position: relative;
    left: calc(50% - 50vw);
    top: 17px;
}

.col2>.col .sub{
    display: block;
}

.just-sub .sub{
    margin-bottom: 0;
}

@media screen and (min-width: 1024px){
    .sub{
        font-size: 30px;
        line-height: 48px;
    }
    .sub::before{
        width: 53px;
        top: 24px;
    }

    .full-width.col2>.col .sub::before{
        left: calc(50% - 25vw);
    }
    .half-width.col2>.col .sub::before{
        left: calc(50% - 30vw);
    }
    .third-width.col2>.col .sub::before{
        left: calc(50% - 35vw);
    }

}

@media screen and (min-width: 1024px) and (max-width: 1440px){
    .third-width.col2>.col .sub::before{
        left: calc(50% - 30vw);
    }
}

@media screen and (min-width: 1920px){
    .sub{
        font-size: 47px;
        line-height: 70px;
        margin-bottom: 40px;
    }
    .sub::before{
        width: 100px;
        top: 36px;
    }
}