.nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}
.nav .logo{
    background: none;
}
.nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s linear;
    background: rgba(30, 36, 51, 0.9);
}
.nav .menu.collapsed{
    transform: translateY(-100%);
}
.nav .menu .button{
    color: #1e2433;
    font-size: 20px;
    letter-spacing: 4px;
    z-index: 10;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: all 0.2s linear;

    height: 60px;
    width: 60px;

    /* background: white; */
    padding: 1px 16px;
}

.nav .menu .toggle.collapsed{
    color: #1e2433;
}

.popup{
    font-family: 'Arvo', sans-serif;
    transition: all 0.2s ease-in-out;
    height: 100%;
    overflow: hidden;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
  }
  .popup ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    margin: 0;
    font-size: 5vh;
  }
  .popup ul>li{
    margin: 1vh 0;
  }
  .popup .item{
    text-decoration: none;
    color: #1e2433;
  }
  .popup .item:visited{
    color: #1e2433;
  }
  
  .popup.collapsed, .button.collapsed{
    height: 0;
  }

/* .nav .collapsed .bars img{
    filter: invert(1);
} 
*/

footer{
    background: #0054E8;
    height: 60px;
}

.footer{
    display: flex;
}
.footer .logo{
    flex-grow: 0;
    flex-shrink: 0;
}
.footer .logotype{
    width: 135px;
    flex-grow: 0;
    flex-shrink: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .logotype>img{
    width: 93px;
    right: 21px;
}

.footer-socials{
    list-style: none;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px 0 0;
}
.footer-socials a{
    color: #1e2433 !important;
}
.footer-socials li{
    margin: 0 10px;
}

@media screen and (min-width: 768px){
    footer{
        height: 110px;
    }

    .popup{
        right: 0;
    }

    .nav .menu .button{
        height: 110px;
        width: 110px;
    }

    .nav .menu .button>span:first-child{
        color: white;
    }
}