.nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}
.nav .logo{
    background: none;
}
.nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s linear;
    background: rgba(30, 36, 51, 0.9);
}
.nav .menu.collapsed{
    transform: translateY(-100%);
}
.nav .menu .button{
    color: #1e2433;
    font-size: 20px;
    letter-spacing: 4px;
    z-index: 10;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: all 0.2s linear;

    height: 60px;
    width: 60px;

    /* background: white; */
    padding: 1px 16px;
}

.nav .menu .toggle.collapsed{
    color: #1e2433;
}



/* .nav .collapsed .bars img{
    filter: invert(1);
} 
*/

footer{
    background: #0054E8;
    height: 60px;
}

.footer{
    display: flex;
}
.footer .logo{
    flex-grow: 0;
    flex-shrink: 0;
}
.footer .logotype{
    width: 135px;
    flex-grow: 0;
    flex-shrink: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .logotype>img{
    width: 69%;
}

.footer-socials{
    list-style: none;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px 0 0;
}
.footer-socials a{
    color: #1e2433 !important;
}
.footer-socials li{
    margin: 0 10px;
}

.foot-nav{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
}
.foot-nav li{
    display: none;
}

@media screen and (min-width: 1024px){
    footer{
        height: 110px;
    }

    .footer-socials{
        flex-basis: auto;
        padding-right: 26px;
    }
    .footer-socials>li:first-child{
        width: 140px;
        margin: 0 10px;
        text-align: center;
    }

    .footer .logotype{
        width: 170px;
    }

    .foot-nav li{
        display: initial;
    }

    .popup{
        right: 0;
    }

    .nav .menu .button{
        height: 110px;
        width: 110px;
        margin-right: 20px;
    }

    .nav .menu .button>span:first-child{
        color: white;
    }
}