.comein{
    transition: all 1s ease-in-out;
}
.comein>img:only-child{
    width: 100%;
}

.come-in{
    transform: translateY(100px);
    opacity: 0;
}
.come-in.rolled{
    transform: none;
    opacity: 1;
}

.fade-in{
    opacity: 0;
}
.fade-in.rolled{
    opacity: 1;
}