.text:nth-child(4){
    margin-bottom: 30px;
}

.iso{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid gray;
    border-radius: 7px;
    color: gray;
    margin: 62px 0;
}
.iso span{
    border-top: 1px solid gray;
    text-align: center;
    padding: 10px 0;
}
.iso span:first-child{
    border-top: none;
}

.aboutus>.cat-image:nth-child(2){
    background-image: url('./assets/new_image.jpg');
    background-size: 250%;
}.aboutus>.cat-image:nth-child(2)>img{
    width: 250%;
}

@media screen and (min-width: 768px){
    .iso{
        flex-direction: row;
    }
    .iso span{
        border-top: none;
        border-left: 1px solid gray;
        text-align: center;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .iso span:first-child{
        border-top: none;
        border-left: none;
    }

    .aboutus>.cat-image:nth-child(2){
        background-size: cover;
    }.aboutus>.cat-image:nth-child(2)>img{
        width: 100%;
    }
}