.advantages>.full-width:nth-child(3) .cat-image{
    background: url('./assets/advantages2.jpg');
    background-size: cover;
    margin: 100px 0;
}
.advantages>.full-width:nth-child(3) .cat-image>img{
    width: 100%;
}
.advantages .bullets>.box:last-child .text{
    border-bottom: none;
}
.advantages .third-width{
    padding: 60px 0;
}
.advantages .full-width.framed{
    padding-left: 20vw;
    padding-right: 20vw;
}
.advantages>.framed>*{
    margin-bottom: 60px; 
}
.advantages>.framed>*:last-child{
    margin-bottom: 0; 
}
.advantages>.framed{
    padding-top: 60px;
    padding-bottom: 60px;
}
.advantages em{
    font-weight: bold;
    font-style: normal;
    margin-top: 70px;
    margin-bottom: 10px;
    display: block;
    font-size: 1em;
    line-height: 26px;
}
.advantages .col2:nth-child(2)>.col{
    padding-bottom: 110px !important;
}

@media screen and (min-width: 1024px){
    .advantages .third-width{
        padding: 220px 0;
    }
    .advantages .third-width .col:nth-of-type(2){
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .advantages .third-width .col:nth-of-type(2) img{
        max-width: 540px;
    }
    .advantages .third-width .desktop{
        flex-grow: 1;
    }
    .advantages .third-width.col2>.col:nth-of-type(1){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .advantages .third-width.col2>.col:nth-of-type(1)>*{
        padding-right: 130px;
    }
    .advantages .third-width.col2>.col .sub::before{
        left: calc(50% - 35vw + 65px);
    }
    .advantages em{
        font-size: 30px;
        line-height: 48px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .box>em{
        font-size: 1em;
        line-height: 48px;
    }
    .advantages>.framed>*{
        margin-bottom: 130px; 
    }
    .advantages>.framed{
        padding-top: 130px;
        padding-bottom: 130px;
    }
    .advantages .col:first-child .comein:last-child p:last-child{
        margin-bottom: 0;
    }
    .advantages>.full-width:nth-child(3) .cat-image{
        margin: 220px 0;
    }
    .advantages .col3{
        margin-bottom: 120px !important;
    }
    .advantages .box em{
        margin-bottom: 15px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1440px){
.advantages .third-width.col2>.col .sub::before{
    left: calc(50% - 30vw + 65px);
}
.advantages .full-width.framed{
    padding-left: 10vw;
    padding-right: 10vw;
}
}
@media screen and (min-width: 1440px){
.advantages em{
    font-size: 30px;
    line-height: 48px;
}
}

@supports(display: grid){
@media screen and (min-width: 1024px){
    .advantages .bullets{
        display: grid;
        grid-template-columns: 50% auto 50%;
        grid-template-rows: auto auto auto auto auto auto;
    }

    .advantages .box{
        padding: 20px 0;
    }

    .advantages .bullets>.v-sep{
        grid-row: 1/7;
        grid-column: 2/3;
        border-right: 1px solid #5d5e60;
        margin: 30px 0;
    }
    .advantages .bullets>.box:nth-child(odd){
        grid-column: 1/2;
        padding-right: 40px; 
    }
    .advantages .bullets>.box:nth-child(even){
        grid-column: 3/4;
        padding-left: 40px;
    }
    .advantages .bullets>.box:first-child{
        grid-row: 1/3;
    }
    .advantages .bullets>.box:nth-child(2){
        grid-row: 1/2;
    }
    .advantages .bullets>.box:nth-child(3){
        grid-row: 3/5;
    }
    .advantages .bullets>.box:nth-child(4){
        grid-row: 2/4;
    }
    .advantages .bullets>.box:nth-child(5){
        grid-row: 5/7;
        border-bottom: none;
    }
    .advantages .bullets>.box:nth-child(6){
        grid-row: 4/6;
    }
    .advantages .bullets>.box:nth-child(7){
        grid-column: 3/4;
        grid-row: 6/7;
        border: none;
        padding-right: 0;
        padding-left: 40px;
    }
    .advantages .bullets>.box:nth-child(5) .text{
        border-bottom: none;
    }
}
}