@media screen and (min-width: 768px){
    /* @supports(display: grid){ */
    section.active{
        visibility: visible;
    }
    section{
        visibility: hidden;
    }
    section>div:first-child{
        padding: 0;
        display: flex;
        height: 100%;
        background: transparent !important;
    }
    section .explore{
        top:  50%;
        left: 50%;

        transform: translate(-50%,-50%);
    }
    section .left{
        flex-basis: 50%;
        padding: 6vw;
        background: rgba(26, 71, 186, 0.8);
    }
    section .left>*{
        margin-left: 3vw;
    }
    section .left>p{
        margin-right: 19vw;
    }
    section .right{
        flex-basis: 50%;
        padding: 6vw;
    }
    section>div:first-child h1:first-child{
        display: block;
      }
    
    .app{
        display: grid;

        grid-auto-columns: 1fr 50px 50px 1fr;
        grid-template-rows: 8vh 1fr 16vh 4vh;

        height: 100vh;
    }

    section{
        grid-column: 1/5;
        grid-row: 1/5;
    }

    .menu{
        position: relative;
    }

    .navigator{
        grid-column: 1/3;
        grid-row: 3/4;

        list-style: none;
        padding: 0;

        font-family: 'Oswald', sans-serif;
    }
    .navigator a{
        text-decoration: none;
        color: black;
    }
    .navigator a:link{
        color: black;
    }
    .navigator a:visited{
        color: black;
    }
    .navigator a::before{
        content: "";
        display: inline-block;
        width: 2vw;
        border: 1px solid black;
        border-bottom: 0;
        transform: translateY(-5px);
        margin-right: 5px;
    }
    .navigator .active a{
        color: white;
    }
    .navigator .active a:link{
        color: white;
    }
    .navigator .active a:visited{
        color: white;
    }
    .navigator .active a::before{
        border-color: white;
    }

    nav{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    nav .button{
        width: initial;
        height: initial;
    }

    .menu .button{
        padding: 3vw;
    }

    section>div:first-child h1:first-child{
        margin-top: 8vh;
    }

    section>div:first-child .seperator{
        margin-top: 6vh;
        margin-bottom: 8.5vh;
        float: initial;
    }

    .logo{
        width: 6vw;
        height: 6vw;
    }
    /* } */
}