.app{
  width: 100%;
  background: wheat;
}

.popup{
  transition: all 1s linear;
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.collapsed{
  height: 0;
}

.menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 8vh;
  background: rgb(30, 36, 51);
  display: flex;
  justify-content: center;
}
.logo img{
  width: 70%;
}