.contacts{
    background: #1e2433;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 70px 80px;
    min-height: 100%;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    line-height: 20px;
}
.contact:nth-last-child(2){
    margin-top: 40px;
}
.contact span:first-child{
    color: white;
}
.contact span:last-child{
    color: #0054E8;
}

@media screen and (min-width: 1024px){
    .vsep{
        border-left: 1px solid #0054E8;
        height: 0;

        animation: contact-seperator 1s ease-in-out 4s 1 normal forwards;
    }
    .contacts{
        position: relative;
        flex-direction: row;
    }
    .contacts>*{
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }
    .contacts video{
        width: 250px;

        animation: contact-mobile 1s ease-in-out 3s 1 normal forwards;
    }

    .contact{
        margin: 0 !important;
        align-items: flex-start;
        width: 0;
        overflow: hidden;
        animation: contact-contact 1s ease-in-out 5s 1 normal forwards;
    }
    .contact>span{
        width: 200px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .contact:nth-last-child(2){
        transform: translate(calc(15vw - 125px), -150%);
    }
    .contact:last-child{
        transform: translate(calc(15vw - 125px), 50%);
    }

    @keyframes contact-mobile {
        from{
            transform: translate(-50%, -50%);
        }
        to{
            transform: translate(calc(-15vw - 50%), -50%);
        }
    }
    @keyframes contact-seperator {
        from{
            height: 0;
        }
        to{
            height: 20vh;
        }
    }
    @keyframes contact-contact {
        from{
            width: 0;
        }
        to{
            width: 200px;
        }
    }
}