.e-catalog.page-inner{
    padding-top: 0;
}
.e-catalog .full-width:only-child{
    background: url('./assets/bg_cata.jpg');
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 0;
}
.e-catalog .content-part:only-child{
    height: 100vh;
    margin: 0;
    max-width: initial;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.e-catalog .download{
    display: inline-block;
    padding: 20px 50px;
    border-radius: 5px;
}
.e-catalog .mobile{
    flex-grow: 1;
    flex-shrink: 1;
}

@media screen and (min-width: 768px){
    .e-catalog .content-part:only-child{
        justify-content: center;
    }
}

@media screen and (min-width: 1920px){
    .e-catalog .download{
        font-size: 32px;
    }
}