.app{
  width: 100%;
}

.popup{
  transition: all 0.2s linear;
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
}
.popup ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px;
  margin: 0;
  font-size:7vmin;
}
.popup .item{
  text-decoration: none;
  color: black;
}
.popup .item:visited{
  color: black;
}
.popup .close{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4vh;
  width: 10vh;
}

.collapsed{
  height: 0;
}

.menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  display: flex;
  justify-content: space-between;
}
.menu .button{
  color: white;
  font-size: 2vh;
  letter-spacing: 1px;
}

.logo{
  width: 10vh;
  height: 10vh;
  background: rgb(30, 36, 51);
  display: flex;
  justify-content: center;
}
.logo img{
  width: 45%;
}

.home-section{
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}
.home-section>div:first-child{
  position: relative;
  padding: 10vh;
  min-height: 80%;
}
.home-section>div:first-child h1:first-child{
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 4vh;
}
.home-section>div:first-child.even{
  background: rgba(30, 36, 51, 0.8);
}
.home-section>div:first-child.odd{
  background: rgba(26, 71, 186, 0.8);
}
.home-section .seperator{
  width: 50px;
  margin: 0;
}
.home-section p{
  line-height: 29px;
}
.home-section .explore{
  position: absolute;
  bottom: 10vh;
  width: 15vh;
  height: 15vh;
  font-size: 13px;
  letter-spacing: 5px;

  background: white;
  border-radius: 100%;

  line-height: 15vh;
}
.home-section .left{
  font-family: 'Arvo', sans-serif;
}

.home-nav .button{
  height: 10vh;
}