@supports(display: grid){
@media screen and (min-width: 1024px){
    /*  */
    .home-section.active{
        opacity: 1;
        z-index: 1;
    }
    .home-section .left-content{
        transition: all 0.3s ease-in;

        opacity: 0;
        transform: translateX(-100%);
    }
    .home-section.active .left-content{
        opacity: 1;
        transform: none;
        transition-delay: 0.3s;
    }
    .home-section{
        opacity: 0;
        background: rgb(30, 36, 51);
        transition: opacity 0.2s step-end;
        
    }
    .home-section>div:first-child{
        padding: 0;
        display: flex;
        height: 100%;
        background: transparent !important;
    }
    .home-section .explore{
        top:  50%;
        left: 50%;

        transform: translate(-50%,-50%);

        width: 125px;
        height: 125px;

        line-height: 125px;
        font-size: 15px;

        transition: all 30ms linear;
    }
    .home-section .explore:hover{
        width: 140px;
        height: 140px;
        line-height: 140px;
    }
    .home-section .left{
        flex-basis: 50%;
        padding: 110px;
        background: #0054E8;
        margin-bottom: 0;
    }
    /* .home-section .left-content>*{
        margin-left: 55px;
    } */
    .home-section .left-content>p{
        margin-right: 5vw;
        font-size: 12px;
        line-height: 20px;
    }
    .home-section .right{
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .home-section .right>img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .app{
        display: grid;

        grid-auto-columns: 1fr 50px 50px 1fr;
        grid-template-rows: 6vw 1fr 5.5vh;

        height: 100vh;
    }

    .home-section{
        grid-column: 1/5;
        grid-row: 1/4;
    }

    .home-nav .menu{
        position: relative;
        margin-right: 46px;
    }

    .navigator{
        grid-column: 1/3;
        grid-row: 2/3;
        align-self: end;

        list-style: none;
        padding: 0;

        font-family: 'Oswald', sans-serif;
        margin: 0;

        z-index: 2;
    }
    .navigator a{
        text-decoration: none;
        color: #1e2433;
        font-size: 13px;
        letter-spacing: 4px;
    }
    .navigator>li{
        margin-top: 2px;
        font-size: 12px;
    }
    .navigator a:link{
        color: #1e2433;
    }
    .navigator a:visited{
        color: #1e2433;
    }
    .navigator a::before{
        content: "";
        display: inline-block;
        width: 2vw;
        border: 1px solid #1e2433;
        border-bottom: 0;
        transform: translateY(-5px);
        margin-right: 9px;

        transition: all linear 100ms;
    }
    .navigator .active a{
        color: white;
    }
    .navigator .active a:link{
        color: white;
    }
    .navigator .active a:visited{
        color: white;
    }
    .navigator .active a::before{
        border-color: white;
        width: 2.5vw;
    }
    .navigator a:hover::before{
        width: 2.5vw;
    }

    .home-nav{
        position: relative;
        grid-column: 1/3;
        grid-row: 1/2;
        z-index: 2;
    }
    .home-nav .button{
        height: initial;
    }

    .home-nav .menu .button{
        align-items: center;
    }

    .home-section>div:first-child h1:first-child{
        margin-top: 15px;
        
        font-size: 25px;
        line-height: 43px;
    }

    #optimpark>div:first-child h1:first-child,
    #advantages>div:first-child h1:first-child,
    #facade>div:first-child h1:first-child{
        display: block;
    }

    .home-section>div:first-child .seperator{
        margin-top: 30px;
        margin-bottom: 30px;
        float: initial;
    }

    .logo{
        width: 110px;
        height: 110px;
    }
    .logo:hover .logotype{
        width: 200px;
    }

    .socials{
        grid-column: 3/5;
        grid-row: 1/2;

        padding: 0 46px 0 0;
        margin: 0;

        font-size: 20px;

        height: 110px;
    }
    .socials>li{
        margin: 0 15px; 
    }
    .socials>li:last-child{
        margin-right: 0;
    }
    .socials a:hover{
        color: #0054E8;
    }
    .socials a{
        transition: all 0.1s linear;
    }

    .number{
        grid-column: 1/3;
        grid-row: 2/3;

        align-self: end;
        justify-self: right;

        color: white;
        font-size: 10em;
        position: relative;
        z-index: 2;
    }
    .number>img{
        position: absolute;
        bottom: 0;
        right: 40px;
        height: 132px;

        transition: all 0.2s ease-in-out;
        opacity: 0;
        transform: translateX(20%);
        display: inline-block;
    }
    .number>img.active{
        opacity: 1;
        transform: none;
        transition-delay: 0.2s;
    }

    .home-nav .popup{
        right: 50vw;
    }
    .circle-adv{
        width: 36vw;
        height: 36vw;
    }
    
    .circle-adv>.circle{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);  
        border-radius: 100%;
        transform-origin: 50% 50%;
    
        font-family: monospace;
        font-weight: bold;
    
        transition: transform 0.2s ease-in-out;
    }
    .circle-adv:hover>.circle{
        transform: translate(-50%, -50%) scale(1.1);
        width: 0;
        height: 0;
    }
    .circle-adv>.circle:nth-last-child(2){
        background: #ffffff;
        transition-delay: 25ms;
    }
    .circle-adv>.circle:nth-last-child(3){
        background: #dcdddf;
        transition-delay: 50ms;
    }
    .circle-adv>.circle:nth-last-child(4){
        background: #bcbdc2;
        transition-delay: 75ms;
    }
    .circle-adv>.circle:nth-last-child(5){
        background: #9c9ea5;
        transition-delay: 100ms;
    }
    .circle-adv>.circle:nth-last-child(6){
        background: #7e8087;
        transition-delay: 125ms;
    }
    .circle-adv>.circle:nth-last-child(7){
        background: #5e636d;
        transition-delay: 150ms;
    }
    .circle-adv>.circle:nth-last-child(8){
        background: #3e4350;
        transition-delay: 200ms;
    }
    
    .circle-adv>.circle>*{
        display: inline-block;
        position: absolute;
        left: 50%;
        height: 100%;
        line-height: 2.25vw;
        opacity: 0;
    }

    #advantages.active .circle-adv>.circle:last-child{
        animation: first-circle 4s ease-in-out 0s 1 normal forwards;
    }
    #advantages.active .circle-adv>.circle:nth-last-child(2){
        animation: second-circle 1s ease-in 0.5s 1 normal forwards;
    }
    #advantages.active .circle-adv>.circle:nth-last-child(3){
        animation: third-circle 1s ease-in 0.525s 1 normal forwards;
    }
    #advantages.active .circle-adv>.circle:nth-last-child(4){
        animation: fourth-circle 1s ease-in 0.55s 1 normal forwards;
    }
    #advantages.active .circle-adv>.circle:nth-last-child(5){
        animation: fifth-circle 1s ease-in 0.575s 1 normal forwards;
    }
    #advantages.active .circle-adv>.circle:nth-last-child(6){
        animation: sixth-circle 1s ease-in 0.6s 1 normal forwards;
    }
    #advantages.active .circle-adv>.circle:nth-last-child(7){
        animation: seventh-circle 1s ease-in 0.625s 1 normal forwards;
    }
    #advantages.active .circle-adv>.circle:nth-last-child(8){
        animation: eighth-circle 1s ease-in 0.65s 1 normal forwards;
    }
    #advantages.active .circle-adv>.circle>*{
        animation: inner-text 1s linear forwards;
    }
    #advantages.active .circle-adv>.circle:last-child>*{
        animation-delay: 1.7s;
    }
    #advantages.active .circle-adv>.circle:nth-last-child(2)>*{
        animation-delay: 1.8s;
    }
    #advantages.active .circle-adv>.circle:nth-last-child(3)>*{
        animation-delay: 1.9s;
    }
    #advantages.active .circle-adv>.circle:nth-last-child(4)>*{
        animation-delay: 2.0s;
    }
    #advantages.active .circle-adv>.circle:nth-last-child(5)>*{
        animation-delay: 2.1s;
    }
    #advantages.active .circle-adv>.circle:nth-last-child(6)>*{
        animation-delay: 2.2s;
    }
    #advantages.active .circle-adv>.circle:nth-last-child(7)>*{
        animation-delay: 2.3s;
    }
    #advantages.active .circle-adv>.circle:nth-last-child(8)>*{
        animation-delay: 2.4s;
    }

    @keyframes first-circle {
        0%{
            width: 0;
            height: 0;
            background: white;
        }
        25%{
            width: 5.4vw;
            height: 5.4vw;
            background: white;
        }
        30%{
            width: 4.5vw;
            height: 4.5vw;
            background: rgb(30, 36, 51);
        }
        100%{
            width: 4.5vw;
            height: 4.5vw;
            background: rgb(30, 36, 51);
        }
    }
    @keyframes second-circle {
        0%{
            width: 0;
            height: 0;
        }
        100%{
            width: 9vw;
            height: 9vw;
        }
    }
    @keyframes third-circle {
        0%{
            width: 0;
            height: 0;
        }
        100%{
            width: 13.5vw;
            height: 13.5vw;
        }
    }
    @keyframes fourth-circle {
        0%{
            width: 0;
            height: 0;
        }
        100%{
            width: 18vw;
            height: 18vw;
        }
    }
    @keyframes fifth-circle {
        0%{
            width: 0;
            height: 0;
        }
        100%{
            width: 22.5vw;
            height: 22.5vw;
        }
    }
    @keyframes sixth-circle {
        0%{
            width: 0;
            height: 0;
        }
        100%{
            width: 27vw;
            height: 27vw;
        }
    }
    @keyframes seventh-circle {
        0%{
            width: 0;
            height: 0;
        }
        100%{
            width: 31.5vw;
            height: 31.5vw;
        }
    }
    @keyframes eighth-circle {
        0%{
            width: 0;
            height: 0;
        }
        100%{
            width: 36vw;
            height: 36vw;
        }
    }
    @keyframes inner-text {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    .explode{
        position: relative;
        width: 40vw;
        height: 40vw;
    }
    .explode>img{
        width: 10vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: all 0.3s ease-in-out;
    }
    .explode>img:nth-child(1){
        transform: translate(calc(-2.4vw - 50%), calc(-2.4vw - 50%));
    }
    .explode>img:nth-child(2){
        transform: translate(calc(-1.8vw - 50%), calc(-1.8vw - 50%));
    }
    .explode>img:nth-child(3){
        transform: translate(calc(-1.2vw - 50%), calc(-1.2vw - 50%));
    }
    .explode>img:nth-child(4){
        transform: translate(calc(-0.6vw - 50%), calc(-0.6vw - 50%));
    }
    .explode>img:nth-child(5){
        transform: translate(calc(0vw - 50%), calc(0vw - 50%));
    }
    .explode>img:nth-child(6){
        transform: translate(calc(0.6vw - 50%), calc(0.6vw - 50%));
    }
    .explode>img:nth-child(7){
        transform: translate(calc(1.2vw - 50%), calc(1.2vw - 50%));
    }
    .explode>img:nth-child(8){
        transform: translate(calc(1.8vw - 50%), calc(1.8vw - 50%));
    }
    .explode>img:nth-child(9){
        transform: translate(calc(2.4vw - 50%), calc(2.4vw - 50%));
    }

    .explode:hover>img:nth-child(1){
        transform: translate(calc(-12vw - 50%), calc(-12vw - 50%));
    }
    .explode:hover>img:nth-child(2){
        transform: translate(calc(-9vw - 50%), calc(-9vw - 50%));
    }
    .explode:hover>img:nth-child(3){
        transform: translate(calc(-6vw - 50%), calc(-6vw - 50%));
    }
    .explode:hover>img:nth-child(4){
        transform: translate(calc(-3vw - 50%), calc(-3vw - 50%));
    }
    .explode:hover>img:nth-child(5){
        transform: translate(calc(0vw - 50%), calc(0vw - 50%));
    }
    .explode:hover>img:nth-child(6){
        transform: translate(calc(3vw - 50%), calc(3vw - 50%));
    }
    .explode:hover>img:nth-child(7){
        transform: translate(calc(6vw - 50%), calc(6vw - 50%));
    }
    .explode:hover>img:nth-child(8){
        transform: translate(calc(9vw - 50%), calc(9vw - 50%));
    }
    .explode:hover>img:nth-child(9){
        transform: translate(calc(12vw - 50%), calc(12vw - 50%));
    }
    /* } */
}
@media screen and (min-width: 1440px){
    .home-section .left-content>p{
        margin-right: 11vw;
    }
    .home-section .left-content>*{
        margin-left: 55px;
    }
    .home-section>div:first-child h1:first-child{
        margin-top: 77px;
    }
    .navigator>li{
        margin-top: 10px;
        font-size: 16px;
    }
    .number>img{
        height: 204px;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1920px){
    .home-section>div:first-child h1:first-child {
        font-size: 30px;
        line-height: 54px;
    }
    .home-section .left-content>p{
        font-size: 16px;
        line-height: 26px;
    }
    .home-section>div:first-child .seperator{
        margin-top: 56px;
        margin-bottom: 56px;
    }
}

@media screen and (min-width: 1920px){
    .home-section>div:first-child h1:first-child {
        font-size: 50px;
        line-height: 80px;
    }
    .home-section .left-content>p{
        font-size: 22px;
        line-height: 35px;
    }
    .home-section>div:first-child .seperator{
        margin-top: 70px;
        margin-bottom: 70px;
    }
}
}