.app{
  width: 100%;
}

.popup.collapsed, .button.collapsed{
  height: 0;
}

.home-nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.home-nav .menu{
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
.home-nav .menu .button{
  color: #1e2433;
  font-size: 20px;
  letter-spacing: 4px;
  z-index: 10;

  display: flex;
  align-items: center;

  transition: all 0.2s linear;
}
.home-nav .menu .button.collapsed{
  color: white;
}

.logo{
  width: 60px;
  height: 60px;
  background: #1e2433;
  display: flex;
  justify-content: center;
  position: relative;
}
.logo>img{
  width: 45%;
}
.logo .logotype{
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
  width: 0;
  background: #ffffff;
}
.logo .logotype>img{
  position: absolute;
  top: 50%;
  right: 46px;
  transform: translateY(-50%);
  width: 108px;
  display: block;
}

.home-section{
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}
.home-section>div:first-child{
  position: relative;
  padding: 60px;
  min-height: 100%;
  box-sizing: border-box;
}
.home-section>div:first-child h1:first-child{
  color: #1e2433;
  display: flex;
  flex-direction: column;
  font-size: 4vh;
}
.home-section>div:first-child.even{
  background: rgba(30, 36, 51, 0.8);
}
.home-section>div:first-child.odd{
  background: rgba(0, 84, 232, 0.8);
}
.home-section .seperator{
  width: 50px;
  margin: 0;
}
.home-section p{
  font-size: 19px;
  line-height: 35px;
}
.home-section .explore{
  position: absolute;
  bottom: 60px;
  width: 100px;
  height: 100px;
  font-size: 10px;
  letter-spacing: 5px;
  text-indent: 5px;

  background: white;
  border-radius: 100%;

  line-height: 100px;
}
.home-section .left{
  font-family: 'Arvo', sans-serif;
  margin-bottom: 110px;
}

.home-nav .button{
  height: 60px;
}

.bars{
  display: inline-flex;
  flex-direction: column;
  margin-left: 3px;
}
.bars img{
  width: 20px;
  filter: invert(1);
  transition: all 0.2s linear;

  transform-origin: 50% 50%;
}
.bars img:first-child{
  transform: translateY(100%) rotate(45deg);
}
.bars img:nth-child(2){
  opacity: 0;
}
.bars img:last-child{
  transform: translateY(-100%) rotate(-45deg);
}
.collapsed .bars img:first-child{
  transform: translateY(70%);
}
.collapsed .bars img:nth-child(2){
  opacity: 1;
}
.collapsed .bars img:last-child{
  transform: translateY(-70%);
}
.collapsed .bars img{
  filter: none;
}

.socials{
  list-style: none;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
}