@media screen and (min-width: 768px){
    /* @supports(display: grid){ */
    .home-section.active{
        opacity: 1;
    }
    .home-section .left-content{
        transition: all 0.2s ease-in;

        opacity: 0;
        transform: translateX(-100%);
    }
    .home-section.active .left-content{
        opacity: 1;
        transform: none;
        transition-delay: 0.2s;
    }
    .home-section{
        opacity: 0;
        background: rgb(30, 36, 51);
        transition: opacity 0.2s step-end;
        pointer-events: none;
    }
    .home-section>div:first-child{
        padding: 0;
        display: flex;
        height: 100%;
        background: transparent !important;
    }
    .home-section .explore{
        top:  50%;
        left: 50%;

        transform: translate(-50%,-50%);

        width: 125px;
        height: 125px;

        line-height: 125px;
        font-size: 15px;
        pointer-events: none;

        transition: all 30ms linear;
    }
    .home-section .explore:hover{
        width: 140px;
        height: 140px;
        line-height: 140px;
    }
    .home-section.active .explore{
        pointer-events: auto;
    }
    .home-section .left{
        flex-basis: 50%;
        padding: 110px;
        background: #0054E8;
    }
    .home-section .left-content>*{
        margin-left: 55px;
    }
    .home-section .left-content>p{
        margin-right: 11vw;
    }
    .home-section .right{
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .home-section .right img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .app{
        display: grid;

        grid-auto-columns: 1fr 50px 50px 1fr;
        grid-template-rows: 6vw 1fr 5.5vh;

        height: 100vh;
    }

    .home-section{
        grid-column: 1/5;
        grid-row: 1/4;
    }

    .home-nav .menu{
        position: relative;
        margin-right: 46px;
    }

    .navigator{
        grid-column: 1/3;
        grid-row: 2/3;
        align-self: end;

        list-style: none;
        padding: 0;

        font-family: 'Oswald', sans-serif;
        margin: 0;
    }
    .navigator a{
        text-decoration: none;
        color: #1e2433;
        font-size: 13px;
        letter-spacing: 4px;
    }
    .navigator>li{
        margin-top: 10px;
    }
    .navigator a:link{
        color: #1e2433;
    }
    .navigator a:visited{
        color: #1e2433;
    }
    .navigator a::before{
        content: "";
        display: inline-block;
        width: 2vw;
        border: 1px solid #1e2433;
        border-bottom: 0;
        transform: translateY(-5px);
        margin-right: 9px;

        transition: all linear 100ms;
    }
    .navigator .active a{
        color: white;
    }
    .navigator .active a:link{
        color: white;
    }
    .navigator .active a:visited{
        color: white;
    }
    .navigator .active a::before{
        border-color: white;
        width: 2.5vw;
    }
    .navigator a:hover::before{
        width: 2.5vw;
    }

    .home-nav{
        position: relative;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .home-nav .button{
        height: initial;
    }

    .home-nav .menu .button{
        align-items: center;
    }

    .home-section>div:first-child h1:first-child{
        margin-top: 77px;
        
        font-size: 40px;
        line-height: 65px;
    }

    #optimpark>div:first-child h1:first-child,
    #advantages>div:first-child h1:first-child,
    #facade>div:first-child h1:first-child{
        display: block;
    }

    .home-section>div:first-child .seperator{
        margin-top: 6vh;
        margin-bottom: 8.5vh;
        float: initial;
    }

    .logo{
        width: 110px;
        height: 110px;
    }
    .logo:hover .logotype{
        width: 200px;
    }

    .socials{
        grid-column: 3/5;
        grid-row: 1/2;

        list-style: none;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        padding: 0 46px 0 0;
        margin: 0;

        font-size: 20px;

        height: 110px;
    }
    .socials>li{
        margin: 0 15px; 
    }
    .socials>li:last-child{
        margin-right: 0;
    }
    .socials a:hover{
        color: #0054E8;
    }
    .socials a{
        transition: all 0.1s linear;
    }

    .number{
        grid-column: 1/3;
        grid-row: 2/3;

        align-self: end;
        justify-self: right;

        color: white;
        font-size: 10em;
        position: relative;
    }
    .number>img{
        position: absolute;
        bottom: 0;
        right: 40px;
        height: 204px;

        transition: all 0.2s ease-in;
        opacity: 0;
        transform: translateX(20%);
        display: inline-block;
    }
    .number>img.active{
        opacity: 1;
        transform: none;
        transition-delay: 0.2s;
    }

    .popup{
        right: 50vw;
    }

    /* } */
}