body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
}

.button{
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 100%;
  pointer-events: auto;
}
.button:focus{
  outline: none;
}

a.button{
  text-decoration: none;
}
a.button:link{
  color: white;
}
a.button:visited{
  color: white;
}

.desktop{
  display: none;
  position: absolute;
}
.desktop.large{
  visibility: hidden;
  overflow: hidden;
}

.color-white{
  color: white !important;
}
.color-gray{
  color: gray !important;
}
.color-primary{
  color: #1e2433 !important;
}
.color-alt{
  color: #0054E8 !important;
}
.bg-white{
  background: white !important;
}
.bg-primary{
  background: #1e2433 !important;
}
.bg-alt{
  background: #0054E8 !important;
}

.upper{
  text-transform: uppercase;
}
.oswald{
  font-family: 'Oswald', sans-serif;
}
.pathway{
  font-family: 'Pathway Gothic One', sans-serif;
}
.arvo{
  font-family: 'Ubuntu', sans-serif;
}

.page-inner{
  padding: 60px 64px 0 64px;
  font-family: 'Ubuntu', sans-serif;
  max-width: 780px;
  margin: auto;
}
.page-inner>.full-width{
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.content-part{
  padding: 20px 0;
}
.content-part.just-sub{
  display: flex;
  justify-content: center;
}

.title{
  text-align: center;
  line-height: 33px;
  font-size: 26px;
  background: white;
  padding: 80px 0;
  margin: 0;
}

.cat-image{
  display: inline-block;
  overflow: hidden;
  background-position: 50% 50%;
}
.cat-image>img{
  visibility: hidden;
}

.text{
  line-height: 27px;
  color: #6d6e70;
  margin: 0;
}
.bold{
  font-style: italic;
  font-weight: bold;
  line-height: 50px;
  font-size: 30px;
}

.container{
  background: #f8f8f8;
}

.col>h2,.col>p{
  margin-right: 64px;
  margin-left: 64px;
}

@media screen and (min-width: 1024px){
  .desktop{
    display: initial;
    position: relative;
  }

  .mobile{
    display: none;
    position: absolute;
  }

  .page-inner{
    padding: 110px 130px 0 130px;
  }

  .cat-image{
    margin-left: calc(50% - 50vw);
  }

  .content-part{
    padding: 130px 0;
  }

  .title{
    line-height: 68px;
    font-size: 47px;
    padding: 160px 0;
  }

  .text{
    font-size: 19px;
    line-height: 34px;
  }

  .cat-image{
    background-size: cover !important;
  }
  .cat-image>img{
      width: 100% !important;
  }

  .col2{
    display: flex;
  }
  .col2.reverse{
    flex-direction: row-reverse;
  }
  .col2>.col{
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .col>h2,.col>p{
    margin-right: 130px;
    margin-left: 130px;
  }
}

@media screen and (min-width: 1440px){
  .desktop.large{
    visibility: initial;
  }
}
