body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*{
  box-sizing: border-box;
}

.button{
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 100%;
  pointer-events: auto;
}
.button:focus{
  outline: none;
}

a.button{
  text-decoration: none;
}
a.button:link{
  color: white;
}
a.button:visited{
  color: white;
}

.desktop{
  display: none;
  position: absolute;
}

.color-white{
  color: white;
}
.color-gray{
  color: gray;
}
.color-primary{
  color: #1e2433;
}
.color-alt{
  color: #0054E8;
}
.bg-white{
  background: white;
}
.bg-primary{
  background: #1e2433;
}
.bg-alt{
  background: #0054E8;
}

.upper{
  text-transform: uppercase;
}
.oswald{
  font-family: 'Oswald', sans-serif;
}
.pathway{
  font-family: 'Pathway Gothic One', sans-serif;
}
.arvo{
  font-family: 'Ubuntu', sans-serif;
}

.page-inner{
  padding: 32px;
  font-family: 'Ubuntu', sans-serif;
}

.title{
  text-align: center;
  margin: 98px 0 80px 0;
  line-height: 33px;
  font-size: 26px;
}

.cat-image{
  width: calc(100% + 64px);
  margin-left: -32px;
}

.text{
  line-height: 27px;
  color: #6d6e70;
  margin: 0;
}

@media screen and (min-width: 768px){
  .desktop{
    display: initial;
    position: relative;
  }

  .mobile{
    display: none;
    position: absolute;
  }

  .page-inner{
    padding: 130px;
  }

  .cat-image{
    width: calc(100% + 260px);
    margin-left: -130px;
  }
}
